.DS_Store
.svn

# files
.metadata
.gradle
*.pydevproject
*.class
*.jar
*.war
*.ear
*.db
*.bak
*.swp
*~.nib
*.tmp

# directories
target/
bin/
tmp/

.externalToolBuilders/

# eclipse
.settings/
.classpath
.loadpath
.project
.buildpath
.target
.texlipse


